tactix/__mocks__/fileMock.js
tactix/node_modules/
tactix/__mocks__
tactix/__pycache__
.ipynb_checkpoints/
/tactix/tactix-training/*.zip
/tactix/tactix-training/trained_agents/*.zip
.DS_Store
*.csv
*.xlsx
.ipynb_checkpoints/*.ipynb
/tactix/tactix-training/tb-env
/tb-env
/tactix/tactix-training/runs
/tactix/screenshots
/tactix/backend/output
/tactix/backend/__pycache__
/tactix/tactix-training/__pycache__
/tactix/tactix-training/models
/tactix/tactix-training/train-headless/screenshots
.DS_Store
*.tar
*.gz
Reports/RL_report/.DS_Store
.ipynb_checkpoints
tactix/backend/ee-shauryamathur2001-7b7c6b1280b5.json
/tactix/backend/fire_analytics
*.tif
/tactix/src/public/data
/tactix/tactix-training/fire_analytics
/tactix/tactix-training/environment/__pycache__
/tactix/tactix-training/fire_engine/__pycache__
/inferno/.idea
/tactix/src/public/data
/Paper
